<div id="page">
  <div id="navigation">
    <div class="wrapper">
      <div class="container">
        <div id="header" class="pull-left">
          <span>inter</span>
        </div>
        <div class="pull-right">
          <li>
            <a>LOG IN</a>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div id="cover">
    <div class="container">
       <div class="text-center">
          <h1>Welcome to Hinter!</h1>
          <p class="lead">This is web-based personal task management tool</p>
          <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg", type: "button" %>
       </div>
    </div>
  </div>
</div>