<div id="cover">
  <div class="container">
     <div class="text-center">
        <h1>Welcome to Hinter!</h1>
        <p class="lead">This is web-based personal task management tool</p>
        <%= link_to "Sign Up", signup_path, class: "btn btn-primary btn-lg", type: "button" unless logged_in? %>
     </div>
  </div>
</div>
