<div class="container vertical-center">
  <h1 class="text-center">Log in</h1>

  <%= form_for(:session, url: login_path, html: { class: "form-horizontal form-narrow" }) do |f| %>
    <fieldset>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control input-lg" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control input-lg" %>
      </div>
    </fieldset>

    <fieldset class="text-center">
      <%= f.submit "Login", class: "btn btn-lg btn-primary" %>
    </fieldset>
  <% end %>
</div>
