<%= content_tag :tr, data: { link: task_path(task) } do %>
  <td>
    <div class="row">
      <h4><%= task.title %></h4>
    </div>
    <div class="row">
      <div class="cell">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
        <%= distance_to_deadline_in_words(task.deadline) %>
      </div>
      <div class="cell">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        <%= priority_in_words(task.priority) %>
      </div>
    </div>
  </td>
<% end %>
