<li>
  <%= image_tag("user.png", alt: "thumb", class: "thumb") %>
  <div class="info">
    <ul class="list">
      <% if user.first_name.present? and user.second_name.present? %>
        <li><%= link_to user.name, user, class: "title" %></li>
      <% end %>
      <li><%= link_to user.email, user, class: "title" %></li>
    </ul>
  </div>
</li>
