<%= content_tag :tr, data: { link: user_path(user) } do %>
  <td>
    <%= image_tag(user.avatar.url(:thumb), alt: "thumb", class: "thumb pull-left") %>
    <div class="info pull-left">
      <ul class="list">
        <% if user.first_name.present? and user.second_name.present? %>
          <h4><%= user.name %></h4>
        <% end %>
        <h4><%= user.email %></h4>
      </ul>
    </div>
  </td>
<% end %>
