<div class="page-header content-component">
  <h2>Edit my profile</h2>
</div>

<div class="content-component">
  <%= form_for(@user, html: { class: "form-horizontal form-narrow" }) do |f| %>
    <%= render 'shared/error_messages' %>

    <fieldset>
      <div class="form-group">
        <%= f.email_field :email, placeholder: "Email", class: "form-control input-lg" %>
      </div>
    </fieldset>

    <fieldset class="text-center">
      <%= f.submit "Save", class: "btn btn-lg btn-primary" %>
    </fieldset>
  <% end %>
</div>
