<div class="page-header content-component">
  <h2>All users</h2>
</div>

<div class="content-component">
  <%= will_paginate %>
  <table class="table">
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
