<div class="page-header content-component">
  <h2>All users</h2>
</div>

<div class="content-component">
  <%= will_paginate %>
  <ul class="list">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
