html, body, #page, #content, #cover {
  width: 100%;
  height: 100%;
}

#page {
  display: table;
  background: #f5fafa image-url('overlay.png');

  #navigation {
    display: table-row;
    width: 100%;
    background: #fff;
    font-family: Proxima, sans-serif;

    .wrapper {
      border-bottom: 1px solid #bdbdbd;

      #header {
        background: image-url('icon.png') no-repeat 0px 5px;
        background-size: 50px 50px;
        font-size: 32px;
        font-weight: bold;
        color: #333;
        padding: 8px 0px 8px 50px;
      }

      li {
        list-style: none;
        font-size: 16px;
        padding: 20px 0px;
      }
    }
  }

  #content {
    display: table-row;

    .vertical-center {
      display: table-cell;
      padding-bottom: 60px;
      vertical-align: middle;
    }
  }

  #cover {
    display: table-cell;
    padding-bottom: 40px;
    background: image-url('background.jpg') no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    color: #ffffff;

    .container {
      .btn-lg {
        width: 140px;
        margin-top: 20px;
      }
    }
  }

  #errors {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .alert {
    margin-bottom: 0px;
  }

  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }
}

#sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #222629 image-url("overlay.png");

  #avatar {
    max-width: 150px;
    max-height: 150px;
    margin: 15px 0px;
    border-radius: 50%;
  }

  #title {
    color: #ffffff;
    font-weight: 600;
    font-size: 12pt;
  }

  #navigation {
    padding-top: 25px;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      a {
        display: block;
        padding: 10px 25px;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
          text-decoration: none;
        }

        &.active {
          background: rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.125);
          color: #fff;
        }
      }

      #settings-bullet {
        background: image-url('settings.png') no-repeat 25px 8px;
        background-size: 30px 30px;
      }

      #logout-bullet {
        background: image-url('logout.png') no-repeat 25px 8px;
        background-size: 30px 30px;
      }
    }
  }
}

#content {
  display: inline-block;
  padding-left: 250px;
  background: #f5fafa image-url('overlay.png');

  .content-component {
    margin: 10px 20px;
  }

  .profile-image {
    max-width: 250px;
    max-height: 250px;
  }

  .profile-info {
    margin: 0px 15px;

    h3 {
      margin-top: 10px
    }
  }

  .page-header h2 {
    display: inline-block;
  }

  ul.list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 5px 0px;

      img.thumb {
        max-width: 100px;
        max-height: 100px;
      }

      .info {
        display: inline;
        padding-left: 15px;

        .title {
          vertical-align: top;
          font-size: 20px
        }
      }
    }
  }
}

.form-narrow {
  max-width: 340px;
  margin: auto;

  fieldset {
    margin: 10px 0px;
  }

  input[type="submit"] {
    width: 180px;
  }

  .checkbox {
    padding: 3px 20px;
    text-align: center;
  }
}
