<div id="page">
  <div id="navigation">
    <div class="wrapper">
      <div class="container">
        <div id="header" class="pull-left">
          <span>inter</span>
        </div>
        <div class="pull-right">
          <li>
            <% if logged_in? %>
              <%= link_to current_user.email, user_path(current_user) %>
            <% else %>
              <%= link_to "LOG IN", login_path %>
            <% end %>
          </li>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>
</div>

<% parent_layout "base" %>
